<!DOCTYPE html>
<html>

<head>
    <title>Exercise Tracker</title>
    <link href="./style.css" rel="stylesheet" type="text/css" />
</head>

<body class="flex">
    <header class="titles">
        <h1>Exercise tracker</h1>
        <p>This is an web app that keep track of added exercises</p>
    </header>

    <div class="container flex">
        <hr />
        <div class="flex">
            <div class="forms flex wrap">

                <form action="/api/users" method="post">
                    <h3>Create a New User</h3>
                    <input id="uname" type="text" name="username" placeholder="username" />
                    <input type="submit" value="Submit" />
                </form>

                <form id="exercise-form" method="post">
                    <h3>Add exercises</h3>
                    <input id="uid" type="text" name=":_id" placeholder="*id" />
                    <input id="desc" type="text" name="description" placeholder="description*" />
                    <input id="dur" type="text" name="duration" placeholder="duration* (mins.)" />
                    <input id="date" type="text" name="date" placeholder="date (yyyy-mm-dd)" />
                    <input type="submit" value="Submit" />
                </form>

                <form action="/api/users/getuserid" method="post">
                    <h3>Get User ID</h3>
                    <input id="getid" type="text" name="getuserid" placeholder="username" />
                    <input type="submit" value="Submit" />
                </form>

            </div>
            <hr />
        </div>

        <div class="usage flex">
            <h1>Usage</h1>
            <h2>Create a new user</h2>
            <p class="text"> A new user can be created just by providing an <span>username</span> and
                <span>POST</span> it to get an <span>ID</span> :
            </p>
            <code>{ 
    "username":"NewUser",
    "_id":"64fc73b7e3997afe4f2ab76e"
}</code>
            <h2>Get user ID</h2>
            <p class="text">Usernames are unique and are link to an unique ID. To add an exercisean ID is needed and it
                is possible to get your personal ID by providing your username.</p>
            <code>{ 
    "_id":"64fc73b7e3997afe4f2ab76e",
    "username":"NewUser" 
}</code>
            <p class="text">A <span>GET request</span> to <span>[your_url]/api/users</span> will return a list of all
                users in the database.</p>
            <h2>Add exercises</h2>
            <p class="text">To add an exercise to the database an valid <span>ID</span>, a <span>description</span> and
                a numeric entry as <span>duration</span> are mandatory. <span>Date</span> is optional but must comply
                with <span>YYYY-MM-DD</span> format. If no date provided, the current date will be used. The response
                returned from <span>POST /api/users/:_id/exercises</span> will be the user object with the exercise
                fields added.</p>
            <code>{ 
    "_id":"64fc73b7e3997afe4f2ab76e",
    "username":"NewUser",
    "date":"Sat Sep 09 2023",
    "duration":15,
    "description":"New Exercise"
}</code>
            <p class="text">You can make a <span>GET request to /api/users/:_id/logs</span> to retrieve a full exercise
                log of any user.</p>
            <p class="text">You can add <span>from</span>, <span>to</span> and <span>limit</span> optional parameters to
                a <span>GET /api/users/:_id/logs</span> request to retrieve part of the log of any user.
                <span>from</span> and <span>to</span> are dates in <span>YYYY-MM-DD</span> format. <span>limit</span> is
                an integer of how many logs to send back.
            </p>
            <code>[your_url]/api/users/:_id/logs?from=YYYY-MM-DD&to=YYYY-MM-DD&limit=X</code>
        </div>
    </div>
    <div class="footer">
        Created by
        <a href="https://github.com/odakris?tab=repositories" target="_blank">odakris</a>
        </p>
    </div>
    <script>
        const exerciseForm = document.getElementById("exercise-form");

        exerciseForm.addEventListener("submit", () => {
            const userId = document.getElementById("uid").value;
            exerciseForm.action = `/api/users/${userId}/exercises`;

            exerciseForm.submit();
        });
    </script>
</body>

</html>